body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
  display: none;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-style: italic;
  text-decoration: line-through;
}
