* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.inputSection,
.actionButtonsSection,
.listSection {
  width: 90%;
  margin: auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.actionButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 30px;
}

.addString {
  border: 0;
  border-radius: 10px;
  background-color: aqua;
}

.verifyAll,
.removeAll {
  width: 48%;
  height: 40px;
  color: white;
  border: 0;
  border-radius: 10px;
}

.verifyAll {
  background-color: green;
}

.removeAll {
  background-color: red;
}

.hidden {
  display: none;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

label {
  text-align: center;
}

label,
input,
button {
  padding: 8px;
}

.listContainer {
  margin-top: 30px;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.verify,
.remove {
  height: min-content;
  width: min-content;
  padding: 4px;
}

.verify {
  margin-right: 5px;
}

.listButtons {
  display: flex;
  justify-content: center;
  align-items: end;
}

hr {
  margin: 3px 0 3px 0;
}
